@import './variables.scss';
@import './Nav.scss';
@import './Hero.scss';
@import './MoreHum.scss';
@import './ShopNow.scss';
@import './TermsAndConditions.scss';

@font-face {
  font-family: 'NeutrafaceDemiAlt';
  src: local("NeutraText-DemiAlt"),
       url(../fonts/NeutraText-DemiAlt.otf);
}

@font-face {
  font-family: 'NeutraTextBook';
  src: local("NeutraText-Book"),
       url(../fonts/NeutraText-Book.ttf);
}

@font-face {
  font-family: 'ProximaNova';
  src: local("Proxima-Nova-Regular"),
       url(../fonts/ProximaNova-Regular.otf);
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: local("ProximaNova-Light"),
       url(../fonts/ProximaNova-Light.otf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $primaryFont;
  overflow-x: hidden;
}

h1, h2, p, span {
  // min-height: calc(0vw);
  min-height: 1vw;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}

.App {
  overflow-x: hidden;
}
